page-diseases-az {
  .scroll-content {
    background: #ebebeb;
    .empty_notification_grid {
      height: 100%;
      width: 100%;
      .row {
        height: 100%;
        width: 100%;
        .col {
          .icon {
            font-size: 100px;
          }
          .label {
            font-size: 20px;
          }
          color: #9e9e9e;
        }
      }
    }
    .lbl-title {

    }
  }
}
