<ion-card class="card-profile">
  <ion-row>
    <ion-col col-auto>
      <img class="img-profile" [src]="profile.image">
    </ion-col>
    <ion-col>
      <ion-label color="dark" class="lbl-doctor-name">
        {{profile.name}}
      </ion-label>

      <ion-label class="lbl-doctor-specialist">{{profile.specialist}}</ion-label>
      <ion-label class="lbl-doctor-designation">{{profile.designation}}</ion-label>
      <ion-label class="lbl-doctor-experience">{{profile.experience}}</ion-label>
      <ion-label class="lbl-doctor-language">{{profile.speaking}}</ion-label>
    </ion-col>
  </ion-row>

  <div>
    <ion-label class="lbl-doctor-description" text-wrap margin-left>
      Specialized in : <br>
      {{profile.specialized_in}}
    </ion-label>
  </div>

  <ion-row *ngIf="enableButton">
    <ion-col text-center>
      <button ion-button color="white" icon-left>
        <ion-icon name="md-videocam" color="primary"></ion-icon>
        BDT {{profile.fee_per_hour}}
      </button>
    </ion-col>
    <ion-col text-center>
      <button ion-button color="primary" (click)="bookNowOnClick(profile)">
        <ion-label text-center color="white"> BOOK NOW</ion-label>
      </button>
    </ion-col>
  </ion-row>
</ion-card>
