page-bmi-calculator {
  .scroll-content {
    background: #a6d84d; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #a6d84d, #5e9c1b); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #5e9c1b, #a6d84d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    .row-img {
      align-self: center;
      .top-icon {
        width: 120px;
        height: 84px;
        margin-bottom: 20px;
      }

    }
    .row-title {
      .top-title {
        color: color($colors, white, base);
        text-align: center;
      }
    }
    .row-form {
      .form-login {
        width: 100%;
      }
      .div-input {
        margin: 20px 10px 0 10px;
        .row-mobile {
          border: 1px solid #ffffff;
          border-radius: 4px;
          background: #ffffff;
          .country_code {
            color: #3a3939;
          }
          .col-mobile {
            background: #ffffff;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
          }
          .icon-email {
            font-size: 30px;
          }

        }
        .text-input-ios {
          margin-left: 10px;
        }

      }
      .btn-forgot {
        margin-top: 30px;
      }
    }

  }
}
