page-treatment-category-post {

  .scroll-content {
    background: #ebebeb;

    .list {

      .item {
        padding-left: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
      }
      .img-item {
        width: 100px;
        height: 100px;
        border-radius: 5px;
        background-size: cover;
        background-position: 50% 50%;
        margin: 0 5px 0 0;
        text-align: center;
      }
      .div-text {
        margin-left: 5px;
        .lbl-title {
          margin: 0 0 3px 0;
          font-size: 12px;
        }
        .lbl-description {

          margin: 0;
          font-size: 11px;
          color: #3e3e3e;
        }
        .lbl-published-date {
          margin: 0;
          font-size: 10px;
          color: #434343;
        }
        hr {
          margin: 5px 0 5px 0;
        }
      }

    }

  }
}
