bottom-save-share-like {
  .card {
    width: 100%;
    margin: 0;
    border-radius: 5px;
    .top-row {
      padding: 5px 0 5px 0;
    }
    .label {
      font-size: 13px;
      color: #4b4b4b;
    }
    .icon {
      font-size: 13px;
      color: #4b4b4b;
    }
  }

}
