<ion-card>
  <ion-row class="top-row">
    <ion-col col-4>
      <button ion-button clear>
        <ion-row>
          <ion-col col-3 text-center>
            <ion-icon name="ios-bookmark-outline"></ion-icon>
          </ion-col>
          <ion-col col-9 text-left>
            <ion-label no-margin> SAVE</ion-label>
          </ion-col>
        </ion-row>
      </button>


    </ion-col>
    <ion-col col-4>
      <button ion-button clear>
        <ion-row>
          <ion-col col-3 text-center>
            <ion-icon name="md-share"></ion-icon>
          </ion-col>
          <ion-col col-9 text-left>
            <ion-label no-margin> SHARE</ion-label>
          </ion-col>
        </ion-row>
      </button>

    </ion-col>
    <ion-col col-4>
      <button ion-button clear>
        <ion-row>
          <ion-col col-3 text-center>
            <ion-icon name="md-thumbs-up"></ion-icon>
          </ion-col>
          <ion-col col-9 text-left>
            <ion-label no-margin> LIKE</ion-label>
          </ion-col>
        </ion-row>

      </button>
    </ion-col>


  </ion-row>
</ion-card>
