<ion-content>


  <ion-card class="card-service">

    <ion-row>
      <ion-label text-center class="lbl-title">Health Services</ion-label>
    </ion-row>

    <ion-row>
      <ion-col text-center *ngFor="let services of healthServices" col-4>
        <button ion-button clear large class="btn-service" no-padding (click)="servicesOnClick(services)">
          <div>
            <img class="img-service" [src]="services.img">
            <ion-label class="lbl-service">{{services.text}}</ion-label>
          </div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="card-service">

    <ion-row>
      <ion-label text-center class="lbl-title">Health Information</ion-label>
    </ion-row>

    <ion-row>
      <ion-col text-center *ngFor="let information of healthInformations" col-4>
        <button ion-button clear large class="btn-service" no-padding (click)="informationOnClick(services)">
          <div>
            <img class="img-service" [src]="information.img">
            <ion-label class="lbl-service">{{information.text}}</ion-label>
          </div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>


  <ion-card class="card-trending">

    <ion-row>
      <ion-label text-center class="lbl-title">Trendings</ion-label>
    </ion-row>

    <trending [allTrending]="trendings" (trendingAction)="trendingClick($event)"></trending>

  </ion-card>


  <ion-card class="card-trending">

    <ion-row>
      <ion-label text-center class="lbl-title">Recommended For You</ion-label>
    </ion-row>

    <trending [allTrending]="trendings" (trendingAction)="trendingClick($event)"></trending>

  </ion-card>


  <ion-card class="card-tools">

    <ion-row>
      <ion-label text-center class="lbl-title">Health Tools</ion-label>
    </ion-row>

    <ion-row>
      <ion-col text-center *ngFor="let tool of healthTools" col-4>
        <ion-card>
          <button ion-button clear large class="btn-service" no-padding (click)="informationOnClick(services)">
            <div>
              <img class="img-service" [src]="tool.img">
              <ion-label class="lbl-service" text-wrap>{{tool.text}}</ion-label>
            </div>
          </button>
        </ion-card>

      </ion-col>
    </ion-row>

  </ion-card>


</ion-content>
