page-home {
  .scroll-content {
    background: #a6d84d; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #a6d84d, #5e9c1b); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #5e9c1b, #a6d84d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    %title {
      font-size: 16px;
      margin-right: 0;
      color: #747572;
    }

    .btn-service {
      height: inherit;
      width: 100%;
      margin: 0;
    }
    .img-service {
      width: 50px;
      margin-right: auto;
      margin-left: auto;
    }
    .lbl-service {
      font-size: 10px;
      text-align: center;
      margin-right: 0;
      color: #626360;
    }

    .lbl-title {
      @extend %title;
    }

    .card-service {
      @extend %card-style;
    }

    .card-trending {
      @extend %card-style;
      height: 200px;
    }

    .card-tools {
      @extend %card-style;
      background: #a6d84d; /* fallback for old browsers */
      background: -webkit-linear-gradient(to bottom, #a6d84d, #5e9c1b); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to bottom, #5e9c1b, #a6d84d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      .lbl-title {
        @extend %title;
        color: color($colors, white, base);
      }
      .card {
        @extend %card-style;
        margin: 0;
        height: 110px;
        padding-top: 10px;
        .btn-service {
          padding: 5px;
        }

      }

    }

  }

}
