page-text-consultation {

  .scroll-content {
    background: #ebebeb;

    .row-form {
      .form-text-box {
        width: 100%;
        .text-input {
          height: 300px;
        }
        .div-input {
          margin: 20px 10px 0 10px;
          .row-mobile {
            border: 1px solid #ffffff;
            border-radius: 4px;
            background: #ffffff;
            .country_code {
              color: #3a3939;
            }
            .col-mobile {
              background: #ffffff;
              border-top-right-radius: 4px;
              border-bottom-right-radius: 4px;
            }
            .icon-email {
              font-size: 30px;
            }

          }
          .text-input-ios {
            margin-left: 10px;
          }

        }

      }

    }

  }




}
