<ion-content>

  <ion-grid *ngIf="notifications.length==0" class="empty_notification_grid">

    <ion-row align-items-center>

      <ion-col align-self-center text-center>
        <ion-icon name="notifications-off"></ion-icon>
        <ion-label>No recent notification</ion-label>
      </ion-col>

    </ion-row>

  </ion-grid>


  <div *ngFor="let notification of notifications" class="notification-div">

    <ion-card class="notification-card">
      <ion-row>

        <ion-col col-2 text-center align-self-center>
          <ion-row class="round-parent" align-items-center justify-content-center>
            <ion-icon name="ios-notifications-outline"></ion-icon>
          </ion-row>
        </ion-col>

        <ion-col col-10>
          <ion-row no-margin>
            <ion-col col-7 text-wrap no-margin no-padding>
              <ion-label class="notification-title">{{notification.title}}</ion-label>
            </ion-col>
            <ion-col col-5 no-margin text-right>
              <p class="notification-date-time">{{notification.date_time | date: 'h:mm a '}}</p>
            </ion-col>
          </ion-row>

          <p class="notification-description">{{notification.description}}</p>
        </ion-col>
      </ion-row>
    </ion-card>

  </div>


</ion-content>
