page-video-consultation-result {
  .scroll-content {
    background: #ebebeb;

    %search-lbl {
      font-size: 13px;
    }

    %lbl-doctor {
      font-size: 12px;
      margin: 0;
      padding: 5px 0 0 5px;
      color: color($colors, dark_light, base);
    }

    .div-search-bar-text {
      background: #ffffff;
      .lbl-search {
        @extend %search-lbl;
      }
      .lbl-search-result {
        @extend %search-lbl;
      }
    }

    .card-profile {
      border-radius: 5px;
      .img-profile {
        width: 60px;
        margin-top: auto;
        margin-bottom: auto;
      }
      .lbl-doctor-description {
        @extend %lbl-doctor;
        margin: 10px 10px 10px 10px;
      }
      .lbl-doctor-name {
        @extend %lbl-doctor;
        font-size: 15px;
        color: color($colors, dark, base);
      }
      .lbl-doctor-designation {
        @extend %lbl-doctor;
      }
      .lbl-doctor-experience {
        @extend %lbl-doctor;
        color: color($colors, secondary, base);
      }
      .lbl-doctor-specialist {
        @extend %lbl-doctor;
      }
      .lbl-doctor-language {
        @extend %lbl-doctor;
      }
    }

  }
}
