<ion-header no-border>
  <ion-navbar color="secondary">
    <ion-title> {{options.text}}</ion-title>

  </ion-navbar>
</ion-header>



<ion-content>

  <ion-row class="row-form">


    <form [formGroup]="form" novalidate class="form-login">

      <div class="div-input">
        <ion-row class="row-mobile" no-padding>
          <ion-col no-padding col-2 text-center align-self-center class="country_code">
            <ion-icon name="md-search" class="icon-email" color="secondary"></ion-icon>
          </ion-col>

          <ion-col no-padding col-8 class="col-mobile">
            <ion-item no-padding no-lines>
              <ion-input #password formControlName="search"
                         name="search" clearInput
                         clearOnEdit="false"
                         spellcheck="false"
                         type="text"
                         autocapitalize="off"
                         maxlength="30"
                         placeholder="search">
              </ion-input>

            </ion-item>
          </ion-col>
          <ion-col no-padding col-2 text-center align-self-center class="row-mobile">
            <button ion-button clear icon-only>
              <ion-icon name="md-mic" class="icon-email" color="secondary"></ion-icon>
            </button>

          </ion-col>
        </ion-row>

      </div>


    </form>

    <ion-list>
      <button ion-item *ngFor="let item of items" (click)="healthItemOnClick(item)">
        <ion-icon [name]="item.icon" item-start color="primary"></ion-icon>
        <ion-label text-wrap color="dark_light">{{item.title}}</ion-label>
        <ion-icon *ngIf="item.forwardIcon" item-end name="ios-arrow-forward-outline" color="dark_light"></ion-icon>
      </button>
    </ion-list>

  </ion-row>

</ion-content>
