page-treatment-category {

  .scroll-content {
    background: #ebebeb;

    .row-form {
      .form-login {
        width: 100%;
      }
      .div-input {
        margin: 5px 5px 0 5px;
        .row-mobile {
          border: 1px solid #ffffff;
          border-radius: 4px;
          background: #ffffff;
          .country_code {
            color: #3a3939;
          }
          .col-mobile {
            background: #ffffff;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
          }
          .icon-email {
            font-size: 30px;
          }

        }
        .text-input-ios {
          margin-left: 10px;
        }

      }
    }

    .list {
      width: 100%;
      margin-top: 5px;
    }

  }

}
