page-book-appointment-confirmation-details {
  .scroll-content {
    background: #ebebeb;
    .card-consultation-details {
      border-radius: 5px;

      .lbl-promo {
        color: color($colors, secondary, base);
        font-weight: 300;
      }

      .lbl-checkbox {
        color: color($colors, secondary, base);
        font-weight: 300;
        font-size: 13px;
      }
      .checkbox {
        margin: 0 10px 0 0;
        color: color($colors, secondary, base);
      }

      .card-header {
        background: #a6d84d; /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #a6d84d, #5e9c1b); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #5e9c1b, #a6d84d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        h3 {
          color: #FFFFFF;
        }
      }
      .list {
        .item {
          border-radius: 5px;
          border: 1px solid #ebebeb;
          padding-left: 2%;
          margin-bottom: 2%;
          .item-inner {
            margin-left: 0;
            padding-right: 0;
          }
          .label {
            color: #626360;
            font-size: 14px;
          }
          .lbl-value {
            font-weight: bold;
          }

        }
      }
    }

    .row-form {
      .form-login {
        width: 100%;
      }

      .div-input {
        .row-mobile {
          border: 1px solid color($colors, secondary, base);
          border-radius: 4px;
          background: color($colors, secondary, base);
          .country_code {
            color: #3a3939;
          }
          .col-mobile {
            background: color($colors, secondary, base);
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            .item {
              border-top-right-radius: 4px;
              border-bottom-right-radius: 4px;
            }
          }
          .icon-email {
            font-size: 30px;
            color: #FFFFFF;
          }

        }
        .text-input-ios {
          margin-left: 10px;
        }

      }
      .btn-forgot {
        margin-top: 30px;
      }
    }

  }

}
